{% extends 'base/base.html' %}

{% block page_content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
{% load static %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Productos</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Productos</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->            

            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="productoList">
                        <div class="card-header border-bottom-dashed">

                            <div class="row g-4 align-items-center">
                                <div class="col-sm">
                                    <div>
                                        <h5 class="card-title mb-0">Lista de Productos</h5>
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <div>                                        
                                        <a class="btn btn-success add-btn" href="#"
                                        onclick="return abrir_modal('{% url 'inv:producto_new' %}')"
                                        ><i class="ri-add-line align-bottom me-1"></i> Agregar</a>
                                        {% comment %} <a class="btn btn-success add-btn" onclick="return abrir_modal('{% url 'inv:producto_new' %}')" href="#"><i
                                                class="ri-add-line align-bottom me-1"></i> Agregar</a>{% endcomment %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-bottom-dashed border-bottom">
                            <form>
                                <div class="row g-3">
                                    <div class="col-xl-6">
                                        <div class="search-box">
                                            <input type="text" class="form-control search"
                                                placeholder="Buscar producto...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="table-responsive table-card mb-1">
                                    <table class="table align-middle" id="productoTable">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th scope="col" style="width: 50px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="checkAll" value="option">
                                                    </div>
                                                </th>
                                                <th class="sort" data-sort="subcategoria_name">Sub Cat.</th>
                                                <th class="sort" data-sort="codigo">Código</th>
                                                <th class="sort" data-sort="barra">Barra</th>
                                                <th class="sort" data-sort="producto_name">Descripción</th>
                                                <th class="sort" data-sort="existencia">Existencia</th>
                                                <th class="sort" data-sort="marca">Marca</th>
                                                <th class="sort" data-sort="modelo">Modelo</th>
                                                <th class="sort" data-sort="fc">F. Creación</th>
                                                <th class="sort" data-sort="phone">F. Modificación</th>
                                                <th class="sort" data-sort="status">Estado</th>
                                                <th class="sort" data-sort="action">Actiones</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                            {% for item in obj %}
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                            name="chk_child" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id" style="display:none;"><a
                                                        href="javascript:void(0);"
                                                        class="fw-medium link-primary">{{ item.id }}</a></td>
                                                <td class="marca_name">{{ item.subcategoria }}</td>
                                                <td class="marca_name">{{ item.codigo }}</td>
                                                <td class="marca_name">{{ item.codigo_barra }}</td>
                                                <td class="marca_name">{{ item.descripcion }}</td>
                                                <td class="marca_name">{{ item.existencia }}</td>
                                                <td class="marca_name">{{ item.marca }}</td>
                                                <td class="marca_name">{{ item.modelo }}</td>
                                                <td class="fc">{{ item.fc|date:"d/m/Y H:i:s" }}</td>
                                                <td class="phone">{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                                                
                                                {% comment %} {% if item.estado %}
                                                <td class="status"><span
                                                        class="badge badge-soft-success text-uppercase">{{ item.estado|yesno:"Activo,Inactivo" }}</span>
                                                </td>
                                                {% else %}
                                                <td class="status"><span
                                                        class="badge badge-soft-danger text-uppercase">{{ item.estado|yesno:"Activo,Inactivo" }}</span>
                                                </td>                                                
                                                {% endif %} {% endcomment %}
                                                <td class="status"><span
                                                        class="badge {% if item.estado %} badge-soft-success {% else %} badge-soft-danger {% endif %} text-uppercase">{{ item.estado|yesno:"Activo,Inactivo" }}</span>
                                                </td>

                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item edit"
                                                            data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                            data-bs-placement="top" title="Edit">
                                                            <a href="{% url 'inv:producto_edit' item.id %}"
                                                                class="text-primary d-inline-block edit-item-btn"
                                                                onclick="return abrir_modal('{% url 'inv:producto_edit' item.id %}')">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn"                                                                
                                                                href="{% url 'inv:producto_inactivar' item.id %}">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="noresult" style="display: none">
                                        <div class="text-center">
                                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                                trigger="loop" colors="primary:#121331,secondary:#08a88a"
                                                style="width:75px;height:75px">
                                            </lord-icon>
                                            <h5 class="mt-2">¡Lo sentimos! No Hay Resultados</h5>
                                            <p class="text-muted mb-0">Inténtalo de nuevo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="pagination-wrap hstack gap-2">
                                        <a class="page-item pagination-prev disabled" href="#">
                                            Anterior
                                        </a>
                                        <ul class="pagination listjs-pagination mb-0"></ul>
                                        <a class="page-item pagination-next" href="#">
                                            Siguiente
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!--end col-->
            </div>
            <!--end row-->            

            <div class="modal fade" id="mostrarModal" tabindex="-1"></div>

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    
</div>

{% endblock %}

{% block js_page %}

<script>
    

    <!-- prismjs plugin -->
    <script src="{% static 'base/libs/prismjs/prism.js' %}"></script>
    <script src="{% static 'base/libs/list.js/list.min.js' %}"></script>
    <script src="{% static 'base/libs/list.pagination.js/list.pagination.min.js' %}"></script>

    <!-- listjs init -->    
    <script src="{% static 'base/js/pages/producto-list.init.js' %}"></script>
    
    
</script>

<script>
    function abrir_modal(url)
    {
        $("#mostrarModal").load(url, function(){
            $(this).modal({
            backdrop:'static',
            keyboard: false
            })
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal()
    {
        $('#popup').modal('hide');
        return false;
    }
</script>

{% endblock %}