{% extends 'base/base.html' %}

{% block page_content %}

{% load static %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">
                            {% if obj %} Editar {% else %} Crear {% endif %} Unidad de Medida
                        </h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Nueva Unidad de Medida</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-8">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    {% comment %} <label class="form-label" for="product-title-input">Descripción</label>
                                    <input type="text" class="form-control" name="descripcion" id="id_descripcion"
                                        placeholder="Ingrese descripción de categoría"
                                        value="{% if obj %} {{ obj.descripcion }} {% endif %}"> {% endcomment %}
                                    {{ form.um }}
                                </div>
                                <div class="mb-3">
                                    {% comment %} <label class="form-label" for="product-title-input">Descripción</label>
                                    <input type="text" class="form-control" name="descripcion" id="id_descripcion"
                                        placeholder="Ingrese descripción de categoría"
                                        value="{% if obj %} {{ obj.descripcion }} {% endif %}"> {% endcomment %}
                                    {{ form.descripcion }}
                                </div>
                                
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" name="estado" id="id_estado" 
                                    {% if obj.estado %} checked {% endif %}
                                    {% if action|stringformat:'s' == 'A' %} checked {% endif %}>

                                    <label class="form-check-label" for="formCheck6">
                                        Estado
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                        <!-- end card -->

                        <div class="text-end mb-3">
                            <a href="{% url 'inv:um_list' %}" class="btn btn-light"> Cancelar</a>
                            <button type="submit" class="btn btn-success w-sm"> Guardar</button>
                        </div>
                    </form>


                </div>
                <!-- end col -->

            </div>
            <!-- end row -->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Velzon.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by Themesbrand
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- end main content-->

{% endblock %}
{% block js_page %}
{% endblock %}